/* Resetting default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
/* Body styles */
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(45deg, #ffcccc, #ffffff);
  /* Replace the colors with your desired gradient colors */
  margin: 0;
  padding: 0;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
}
 
/* Container styles */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 192px;
}
 
/* Hero section styles */
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 125px;
}
 
.hero-content {
  flex: 1;
  padding-right: 50px;
}
 
.hero-content h1 {
  font-size: 50px;
  margin-bottom: 20px;
  background: linear-gradient(135deg, #f94533, #a01abd, #4c59e3);
  /* Apply gradient to text */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}
 
.hero-content p {
  font-size: 18px;
  margin-bottom: 30px;
}
 
.hero-content button {
  padding: 15px 30px;
  border: none;
  border-radius: 25px;
  background-color: #007bff;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
 
.hero-content button:hover {
  background-color: #0056b3;
}
 
.hero-illustration img {
  max-width: 100%;
}
 
.left-half,
.right-half {
  flex: 2;
}
 
/* NFT details styles */
.nft-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff; /* Set background color */
}
 
.nft-details input[type="text"],
.nft-details button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}
 
.nft-details button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
 
.nft-details button:hover {
  background-color: #0056b3;
}
 
/* Prompt container styles */
.prompt-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
 
.prompt-input {
  flex: 1;
}
 
.generate-button {
  margin-left: 20px;
}
 
.prompt-input input[type="text"] {
  width: 100%; /* Adjusted width */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}
 
.generate-button button {
  padding: 10px 40px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
 
.generate-button button:hover {
  background-color: #218838;
}